[mysqld]
datadir=/var/lib/mysql

default-time-zone=SYSTEM
log_timestamps=SYSTEM

# default-time-zone='+9:00'
# log_timestamps='+9:00'

innodb_buffer_pool_size=512M
innodb_log_file_size=256M

log-error=/var/log/mysql/error.log
pid-file=/var/run/mysqld/mysqld.pid

slow_query_log=1 # slow query log
slow_query_log_file=/var/log/mysql/slow_query.log
long_query_time=1 # over 1sec query

general_log=1 # detail log
general_log_file=/var/log/mysql/query.log

collation-server=utf8mb4_bin
character-set-server=utf8mb4
default-storage-engine=InnoDB
innodb_ft_min_token_size=2

log-bin=mysql-bin # binary log

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
